server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/crypto_chat}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:create-drop}
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  application:
    name: crypto-project

app:
  jwtSecret: ${JWT_SECRET:YourSuperSecretKeyForCryptoProjectChangeThis} # На сервере эта переменная должна быть установлена
  jwtExpirationInMs: 86400000 # Время жизни токена в миллисекундах (здесь 24 часа)
